/* ul {
    display: flex;
    list-style-type: none;
    background-color: #272838;
    margin-top: 0;
    padding-top: 16px;
    height: 40px;
}

li {
    display: inline-flex;
    margin-right: 20px;
    color: #73AB84;
    font-size: large;

} */